.venv/
.env
__pycache__/
migrations/
**/__pycache__/**
wiki/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
static/*.wav
static/models/
static/models/**
models/
logs/
.DS_Store
**/__pycache__/
.vscode/
scripts/
.idea/
.vscode/
.ruff_cache/
audio_dir/
static/*.txt